<div class="container-fluid m-0 px-0 row align-items-center gx-5 bg-light border-bottom">
  <div class="col-2">
    <div class="row align-items-center position-relative">

      <div class="col-auto">
        <img class="img" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Logo" height="60">
      </div>

      <div class="col-auto">
        <a class="display-6 stretched-link text-decoration-none text-reset" href="#" title="Go to home page">{{ title }}</a>
      </div>

    </div>
  </div>

  <div class="col">
    <label class="visually-hidden" for="specificSizeInputGroupUsername">Search</label>

    <div class="input-group input-group-sm">
      <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Search...">
      <button class="btn btn-primary input-group-text btn-sm">Go</button>
    </div>
  </div>

  <div class="col-2">
    <div class="row align-items-center justify-content-end">

      <div class="col-auto">
        <button class="btn btn-outline-secondary btn-sm">Login</button>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary btn-sm">Join for free</button>
      </div>
    </div>
  </div>
</div>
