<!-- Scrollable modal -->
<div class="modal fade">
  <ng-template #photo>
    <div class="modal-header">
      <h5 class="modal-title me-2" id="photoModalScrollableTitle">
        {{ photosService.photo.user.name }}
      </h5>
      <a [href]="photosService.photo.user.links.html" class="text-muted text-decoration-none">@{{ photosService.photo.user.username }}</a>
      <button type="button" class="btn-close" (click)="modalService.closeModal(1)" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="card border-0 mb-4">
        <img
          [src]="photosService.photo.urls.regular"
          [alt]="photosService.photo.alt_description"
          class="card-img rounded-3"
          style="object-fit: contain; max-height: 650px"
        ></div>
      <div class="row p-0 m-0">
        <div class="col-auto">
          <button class="btn btn-primary d-inline-flex align-items-center justify-content-between">
            <small class="material-icons md-18 me-2">thumb_up_alt</small>
            <small> {{ photosService.photo.likes }} </small>
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary d-inline-flex align-items-center justify-content-between" (click)="modalService.openShareModal(share)">
            <small class="material-icons md-18 me-2">share</small>
            <small>Share</small>
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary d-inline-flex align-items-center justify-content-between" (click)="modalService.openInfoModal(info)">
            <small class="material-icons md-18 me-2">info</small>
            <small>Info</small>
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary d-inline-flex align-items-center justify-content-between">
            <small class="material-icons md-18 me-2">download</small>
            <small>Download</small>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.closeModal(1)">Close</button>
    </div>
  </ng-template>

  <ng-template #share>
    <div class="modal-header">
      <h5 class="modal-title me-2" id="shareModalScrollableTitle"> Поделиться </h5>
      <button type="button" class="btn-close" (click)="modalService.closeModal(2)" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>What follows is just some placeholder text for this modal dialog. You just gotta ignite the light and let it shine! Come just as you are to me. Just own the night like the 4th of July. Infect me with your love and fill me with your poison. Come just as you are to me. End of the rainbow looking treasure.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.closeModal(2)">Close</button>
    </div>
  </ng-template>

  <ng-template #info>
    <div class="modal-header">
      <h5 class="modal-title me-2" id="infoModalScrollableTitle"> Инфо </h5>
      <button type="button" class="btn-close" (click)="modalService.closeModal(3)" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>What follows is just some placeholder text for this modal dialog. You just gotta ignite the light and let it shine! Come just as you are to me. Just own the night like the 4th of July. Infect me with your love and fill me with your poison. Come just as you are to me. End of the rainbow looking treasure.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.closeModal(3)">Close</button>
    </div>
  </ng-template>
</div>
